<div class="row">
  <div class="col-12 mb-3">
    <h5>Configuración</h5>
  </div>
  <div class="col-12">
    <kendo-dropdownlist
      [data]="tableList"
      textField="Name"
      valueField="Id"
      [(ngModel)]="selected"
      (valueChange)="cargarTabla($event)"
    >
    </kendo-dropdownlist>
  </div>
</div>
