<div class="row">
  <div class="col-12 mb-3">
    <h5>Datos {{recivedIdTable.Name}}</h5>
  </div>
  <div class="col-12">
    <kendo-grid
      [data]="data"
      (edit)="editHandler($event)"
      (cancel)="cancelHandler($event)"
      (save)="saveHandler($event)"
      (remove)="removeHandler($event)"
      (add)="addHandler($event)"
      [navigable]="true"
      [pageSize]="gridState.take"
      [skip]="gridState.skip"
      [sort]="gridState.sort"
      [pageable]="true"
      [sortable]="true"
    >
      <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>New</button>
      </ng-template>
      <kendo-grid-column *ngFor="let column of columns"
                         field="{{column.Header}}"
                         title="{{column.Header}}"
                         editor="{{column.DataType}}"
      >
      </kendo-grid-column>
      <!-- setting numeric editor -->
      <kendo-grid-command-column title="command" width="220">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
          <!-- edit command directive, will be visible when not in edit mode -->
          <button kendoGridEditCommand [primary]="true">Edit</button>
          <!-- remove command directive, will be visible when not in edit mode -->
          <button kendoGridRemoveCommand>Remove</button>
          <!-- save command directive, will be visible when in edit mode -->
          <button kendoGridSaveCommand>{{ isNew ? 'Add' : 'Update' }}</button>
          <!-- cancel command directive, will be visible when in edit mode -->
          <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>
  </div>
</div>
