<div class="container my-2">
  <div class="row">
    <div class="col-12 my-3">
      <h2>Listado de tablas</h2>
    </div>
    <div class="col-md-4">
      <div class="card h-100 shadow">
        <div class="card-body">
          <app-config (sendIdTable)="getTableID($event)"></app-config>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card h-100 shadow">
        <div class="card-body">
          <app-data [recivedIdTable]="table"></app-data>
        </div>
      </div>
    </div>
  </div>
</div>
